RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^greenbro\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.greenbro\.net$
RewriteRule ^(.*)$ "https\:\/\/greenbro\.net\/$1" [R=301,L]





RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^ index.php [QSA,L]
